@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

:root{
    --bgColor:#FFFFFF;
    --primaryFontColor: #333333;
    --secondaryFontColor: #4F4F4F;
    --footerFontColor: #BDBDBD;
}

*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}



body{
    background-color: var(--bgColor);
    
}

.container{
    margin: 40px 80px;

}
.header > p{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    font-family: 'Inconsolata', sans-serif;

    color: var(--primaryFontColor);

}



.scarecrow{
    height: 450px;
    width: 540px;
    border: none;
    animation: float 5s infinite ;
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
        transform: translatex(0px);
	}


	60% {

		transform: translatex(14px);
        transform: translatey(14px);
	}

    100% {

		transform: translatex(-10px);
        transform: translatey(-10px);
	}
}
.main-content{
    margin-top: 150px;
    display: grid;
    grid-template-columns: max-content auto;
    align-items: start;
}

.right{
    margin-left: 120px;

}

.page-message{
    display: grid;
    grid-template-rows: auto;
    align-items: start;

}
.page-message > h1 {
    
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;

    color: var(--primaryFontColor);
    margin-bottom: 20px;
}

.page-message > P {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: var(--secondaryFontColor);
    width: 55%;
    margin-bottom: 40px;
    
}

.page-message > button {
    background-color: var(--primaryFontColor);
    color: var(--bgColor);
    font-family: 'Space Mono', monospace;
    padding: 20px;
    width: 30%;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

}

.footer{
    display: grid;
    justify-content: center;
    margin-top: 4%;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--footerFontColor);
}



@media only screen and (max-width: 660px) {
    .container{
        margin: 10px;
    }

    .main-content{
        grid-template-columns: 100%;
        grid-template-rows: max-content;
        justify-items: center;
        margin-top: 60px;

    }

    .scarecrow{
        height: 238px;
        width: 286px;
        margin-bottom: 60px;
    }

    .page-message {
        grid-template-rows: max-content;
        justify-items: center;
    }
    .page-message > h1 {
        font-size: 48px;
        line-height: 71px;

        
    }

    .right{
        margin: 0;
    }

    .page-message > p {
        width: 100%;
        margin-bottom: 0;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;
    }

    .page-message > button {
        margin-top: 20px;
        width: 52%;
        margin-right: auto;        
    }

    .footer{
        margin-top: 30%;
    }
    
 } 


 @media all and (min-width: 660px) and (max-width: 1024px) { 
    .main-content{
        grid-template-columns: 100%;
        grid-template-rows: max-content;
        justify-items: center;
        margin-top: 60px;

    }

    .right{
        margin: 0;
    }
 }